
/* Dark mode styles */

.darkmode {
  cursor: pointer;
  z-index: 100;
}

/*.dark-mode p, h1, h2, form, div{
  color: #ffffff; 
}*/

.dark-mode a {
  color: var(--dark-text); /* Lighter text for links */
}

.dark-mode .inner-container-sec1 {
  background-color: rgba(0, 0, 0, .15);;
}

.dark-mode .container,
.dark-mode .text-container,
.dark-mode .inner-container-sec2,
.dark-mode .inner-container-sec3,
.dark-mode .inner-container-sec3-title,
.dark-mode .inner-container-sec3-button,
.dark-mode .inner-container-sec3-grid {
  background: rgba(100, 100, 123, 40);
}

/*rgba(100, 100, 123, 40)*/

.dark-mode .sidenav {
  background-color: #2C2C2C; /* Darker side nav */
}

.dark-mode .hamburger span {
  background-color: var(--dark-text) !important;
}

.dark-mode .inner-container-sec1 .a {
  color: var(--dark-text);
}

.dark-mode .sidenav a {
  color: var(--dark-text); /* Light text for side nav links */
}
