/* Sidenav closed style */


.sidenav a:hover {
  text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.05);
}

.sidenav a:active {
  color: black;
  text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.05);
}

#hamburger-menu {
  cursor: pointer;
  position: fixed;
  top: 17px;
  left: 15px;
  display: block;
}

#hamburger-menu span {
  display: block;
  width: 30px;
  height: 3px;
  margin-bottom: 4px;
  position: relative;
  background: #333;
  border-radius: 3px;
  z-index: 3;
}
