@import url('https://fonts.googleapis.com/css2?family=Mooli&family=Ubuntu:wght@300;400;500;700&display=swap');
@import url('https://fonts.cdnfonts.com/css/metropolis-2');



/* global styles */

.border {
  border: deeppink solid 2px;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root{
  --light: #eae6de;
  --dark: #9fa287;
  --light-text: #121212;
  --dark-text: #CCCCCC;

  --font-sidenav:'Ubuntu', sans-serif;
  --font-body: 'Metropolis', sans-serif;
  --text-font-size: 14px;

}


html {
  overflow: scroll;
  overflow-x: hidden;
  scroll-behavior: smooth !important;
}

body {
  background-color: var(--light)
}

::-webkit-scrollbar { /* Remove scrollbar space */
  width: 10px;
}

section {
  font-family: var(--font-body);
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  scroll-snap-align: start;
  overflow-x: hidden;
}

.text-padding{
  padding-left: 40px;
  padding-right: 40px;
}


/* outer-containers for */

.outer-container-sec1 {
  width: 95%;
  height: 95%;
  display: grid;
  grid-template-columns: 2fr 1fr;
  min-width: 300px;
}

.outer-container-sec2 {
  width: 95%;
  height: 90%;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  overflow-x: hidden;
  align-items: center;
}

.outer-container-sec3 {
  width: 95%;
  height: 90%;
  display: flex;
  flex-direction: column;
  overflow-x: hidden;
}

.outer-container-sec5 {
  width: 70%;
  height: 80%;
  display: flex;
  flex-direction: column;
  align-items: center;
  min-width: 300px;
}

/* inner-containers */

.inner-container-sec1 {
  background: rgba(0, 0, 0, .15);
  border-radius: 10px;
  min-width: 100px;
  margin: 5px 5px 40px 4px;
  overflow: hidden;
  color: var(--light-text);
}

/* For the quote container */
.inner-container-sec1#quote {
  background: none;
  min-height:250px;
  position: relative; 
  padding: 20px; /* Add some padding */
  display: flex; /* Use flexbox for layout */
  flex-direction: column; /* Stack children vertically */
  justify-content: center; /* Center content vertically */
  text-align: center; /* Center text horizontally */
}

.inner-container-sec1#img {
  background: none;
  min-height:400px;
  position: relative; 
}


/* For the quote text */
.inner-container-sec1#quote h1 {
  font-size: 4em; /* Responsive font size */
  margin: 0 0 10px 0; /* Add some space below the quote */
}

.text-container{
  min-width: 400px;
}

/* For the author text */
.inner-container-sec1#quote p {
  margin: 0; /* Remove default margin */
  align-self: flex-end; /* Align to the right */
  font-size: 1em; /* Responsive font size */
}


.welcome-padding {
  padding: 40px 100px 0 100px;
}

/* Responsive font sizes */
@media (max-width: 800px) {
  .inner-container-sec1#quote h1 {
    font-size: 2em; /* Smaller font size on medium screens */
  }
  .inner-container-sec1#quote p {
    font-size: 0.8em; /* Smaller font size on medium screens */
  }
}

@media (max-width: 1000px) {
  .welcome-padding{
    padding: 0;
  }


}


.text-align { /* Flexbox for text elements*/
   display: flex;
   flex-direction: column;
   align-items: center;
   justify-content: center;
}

@media (max-width: 800px) {
  .outer-container-sec1 {
    grid-template-columns: 1fr;
  }
  
}

@media (max-width: 800px) {
  .inner-container-sec1 {
    height: 300px;
  }
  
.image-container{
    min-height: 660px;
  }
}


.bottom-right-img {
  height: 100%;
  width: 100%;
  object-fit: cover;

}

.button-container {
  height: 10%;
  padding-top: 20px;
  display: flex;
  justify-content: center;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.link-style {
  display:flex;
  font-family: var(--font-body);
  flex-direction: column;
  gap: 15px;
  font-size: 1em;
  padding: 10px 12px 0 12px;
}

.link-style a{
  text-decoration: none;
  
  color: var(--light-text);
  font-size: 1em;
}

.link-style :hover{
  cursor: pointer;
  color: lightblue;
}


/* STYLE FOR SECTION 2 */


.inner-container-sec2 {
  
  border-radius: 10px;
  padding: 0 70px 0 70px;
  min-width: 100px;
  height: 20%;
  width: 50%;
  overflow:hidden;
  color: var(--light-text);
}

@media (max-width: 1100px) {
  .inner-container-sec2 {
    font-size: 1em;
    padding: 0;
    width: 90%;
  }

  .box-sec2{
    height: 98%;
    width: 70%;
  }
}

.box-align {
  display: flex;
  border-radius: 10px;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  width: 60%;
}

.box-sec2{
  height: 98%;
  width: 20%;
}

.start{
  border-radius: 10px 0 0 10px;
}

.end {
  border-radius: 0 10px 10px 0;
}

.img-box {
  height: 100%;
  width: 100%;
  object-fit: cover;
}

/* STYLE FOR SECTION 3 */

.inner-container-sec3 {
  border-radius: 10px;
  min-width: 100px;
  height: 10%;
  margin: 5px 5px 3px 3px;
  overflow:hidden;
  color: var(--light-text);
}

.inner-container-sec3-grid {
  background: rgba(0, 0, 0, 0.15);
  min-width: 300px;
  border-radius: 10px;
  height: 75%;
  margin: 20px;
  padding: 20px;
  overflow:hidden;
  color: var(--light-text);
}

.grid-container {
  display: grid;
  padding-top: 5px;
  padding-bottom: 5px;
  grid-template-columns: repeat(2, 1fr); /* 5 columns */
  grid-template-rows: repeat(5, 1fr); /* 2 rows */
  gap: 5px; /* space between grid items */
  overflow-x: hidden;
}

@media (max-width: 700px) {

  
  .grid-container {
      display: grid;
      padding-top: 70px;
      padding-bottom: 50px;
      grid-template-columns: repeat(1, 1fr);
      gap: 5px; /* space between grid items */
  }

}

.video-item {
    margin-top: 50px;
    padding-bottom: 60px;
    display: flex;
    flex-direction: column;
    align-items: center;
    opacity: 100%;
    min-height: 250px;
}

.video-thumbnail {
    height: 188px;
    width: 366px;
}

.video-title {
    margin: 10px 0;
    text-align: center;
}

.video-link {
    color: blue;
    text-decoration: none;
}

.centered-content {
  display: flex;
  flex-direction: column;
  align-items: center;
}

form {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 10px;
}
label {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 10px
}
.error {
  border: 2px solid red;
  background-color: pink;
}


.inner-container-sec5 {
  background: rgba(0, 0, 0, .15);
  border-radius: 10px;
  min-width: 100px;
  min-height: 400px;
  margin: 5px 5px 40px 4px;
  overflow: hidden;
  color: var(--light-text);
}

.petition-text{
  padding: 50px 150px 0 150px;
}

@media(max-width: 1100px) {
.petition-text{
    padding: 15px;
  }
}


.inner-container-sec5-form {
  background: rgba(0, 0, 0, .15);
  border-radius: 10px;
  min-width: 100px;
  width: 400px;
  margin: 5px 5px 40px 4px;
  overflow: hidden;
  color: --;
}

.motion {
  cursor: pointer;
  position: fixed;
  top: 15px;
  left: 95px;
  display: block;
  z-index: 100;
}

.revealable {
  /* Initial state, hidden */
  opacity: 0 !important;
  transform: translateY(150px) !important;
  transition: transform 2s ease, opacity 2s ease !important;
}

.active {
  /* Final state, shown */
  opacity: 1 !important;
  transform: translateY(0px) !important;
}

hr {
  opacity: 10%;
}

.modal {
  display: none;
  position: fixed;
  z-index: 2;
  left: 0;
  top: 0;
  padding-left: 200px;
  width: 100%;
  height: 100%;
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
  justify-content: center;
  align-items: center;
}

.modal-content {
  display: flex;
  justify-content:center;
  background-color: #fefefe;
  margin: auto;
  padding: 20px;
  border: 1px solid #888;
  width: 60%;
  height: 50%;
  align-items: center;
}

.hidden {
  display: none;
}

.close-button {
  position: absolute;
  top: 10px;
  right: 20px;
  font-size: 30px;
  font-weight: bold;
  cursor: pointer;
}

/* When you hover over the close button, it could change color, indicating it's clickable */
.close-button:hover,
.close-button:focus {
  text-decoration: none;
  cursor: pointer;
}

.label-style{
  width: 300px;
  height:75px;
}

.input-style{
  width:175px;
  height: 65px;
}

.button-styled{
  width:175px;
  height: 65px;
}